.idea
*.iml

*.class
*.classpath
*.factorypath
*.emptyDir
*.jsdtscope
*.project
/target
**/.settings/
**/.apt_generated/
/.settings/
**/.metadata/
*.jsfdia
*.bak
*.*~
*.NavData
*.ear
**/rebel.xml
**/rebel-remote.xml
**/nb_jr_remoting.cfg
/Servers/
/RichFacesExercices/
/RemoteSystemsTempFiles/
.DS_Store